<h1>Add an ingredient</h1>

<%= simple_form_for [@inventory, @inventory_ingredient] do |f| %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.input :quantity %>
  <%= f.submit %>
<% end %>

<div data-controller="barcode-handler">
  <input type="file" name="image" accept="image/*"
    capture="environment"
    data-action="change->barcode-handler#findbyBarcode"
    data-barcode-handler-target="videoInput">
  <div data-barcode-handler-target="barcode"></div>
</div>
