// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$red1: rgba(255,12,13,0.8);
$red2: rgba(255,78,16,0.8);
$orange1: rgba(255,142,21,0.8);
$orange2: rgba(250,183,50,0.8);
$green1: rgba(171,179,51,0.8);
$green2: rgba(104,179,75,0.8);
