#check-icon {
  position: relative;
  font-size: 55px;
  color: #68B34B;
  bottom: 50px;
  left: 275px;
}

.update-ingredients-inventory-card {
  width: 334px;
  height: auto;
  background-color: #DAFFEF;
  border-radius: 5px;
  border: solid 1px black;
}

#removed-inventory {
  border-bottom: solid 3px black;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;

  h5 {
    font-size: 14px;
    font-weight: bold;
  }
}

.ingredients-list-to {
  text-align: center;
  margin-bottom: 15px;
  ul {
    margin: 3px;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0 auto;
  }
}

#added-shopping-list {
  border-bottom: solid 3px black;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;

  h5 {
    font-size: 14px;
    font-weight: bold;
  }
}

.validation-card {
  width: 240px;
  height: 56px;
  background-color: #30D72D;
  text-align: center;
  border-radius: 5px;
  color: white;
}
