<div class="my-2">
  <div class="ingredient-card">
    <div id="ingredient-icon">
      <%= image_tag "alert_icon.ico" %>
    </div>
    <div id="ingredient-name">
      <p><%= inventory_ingredient.ingredient.name%></p>
    </div>
    <div id="ingredient-qty">
      <p><%= inventory_ingredient.format_float %> <%= inventory_ingredient.ingredient.category.measuring_unit %></p>
    </div>
  </div>
</div>
