<div class="container-sm">
  <div>
    <%= pie_chart @my_pets, pie: true, colors: ["FF0C0D", "#FF4E10", "#FF8E15", "#FAB732", "#ABB333", "#68B34B"], width: "100%" %>
  </div>
  <div class="my-3">
    <h3>Recommended Ingredients:</h3>
      <% @inventory.inventory_ingredients.first(3).each do |inventory_ingredient| %>
        <div class="red1">
          <%= render partial: "shared/ingredient_card", locals: { :inventory_ingredient => inventory_ingredient } %>
        </div>
      <% end %>
  </div>
  <div class="my-5">
    <div class="my-3">
      <h3>Last Recipe Cooked:</h3>
      <%= render partial: "shared/recipe_card", locals: { recipe: @recipe } %>
    </div>
  </div>
</div>
