.navbar-lw {
  justify-content: space-around;
  background: white;
  border-bottom: solid 0.5px gray;
  height: 88.5px;
  width: 100%;
}

.sticky-container {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#dropdown-absolute {
  position: absolute;
  top: 75px;
  right: -10px;

  a {
    text-align: right;
  }
}

.dropdown-menu {
  min-width: 6em !important;
}

.navbar-position {
  text-align: right;
  width: 20%;
}
