.navbar-bottom {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: white;
  border-top: solid 0.5px gray;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0px;

  i {
    display: flex;
    font-size: 30px;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  img {
    display: flex;
    font-size: 30px;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
  }

  a {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 70%;
    text-align: center;
    border-right: solid 0.5px gray;
    text-decoration: none;
    position: relative;
    top: 15%;
  }
}
