.recipe-card {
  margin-top: 10px;
  width: 100%;
  height: 93px;
  background-color: white;
  border-radius: 5px;
  border: solid 0.5px gray;
  display: flex;
  box-shadow: 1px 1px 1px gray;
}

.recipe-details-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;

  p {
    margin: 0;
  }

  h5 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 19ch;
  }
}

#recipe-photo {
  width: 98px;
  height: 100%;
  border-radius: 5px 0 0 5px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }
}

#recipe-title {
  height: 40%;
  margin-top: 5px;
}

#recipe-nb-ingredients {
  height: 30%;
}

#recipe-nb-people {
  height: 30%;
}
