// Specific CSS for your show-page
h2 {
  text-align: center;
  padding: 10px;
}
.green2 {
  background-color: $green2;
  border-radius: 5px;
}

.green1 {
  background-color: $green1;
  border-radius: 5px;
}

.orange2 {
  background-color: $orange2;
  border-radius: 5px;
}

.orange1 {
  background-color: $orange1;
  border-radius: 5px;
}

.red2 {
  background-color: $red2;
  border-radius: 5px;
}

.red1 {
  background-color: $red1;
  border-radius: 5px;
}
