// Specific CSS for your show-page
h2 {
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.btn-primary {
  background-color: rgb(158, 215, 99);
  font-weight: bold;
  color: black;
}

.title-add{
  height: 50px;
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.green2 {
  border-radius: 5px;
  border: 3px solid $green2;
  margin-bottom: 4px;

  .ingredient-icon {
    background-color: $green2;
  }
}

.green1 {
  border: 3px solid $green1;
  border-radius: 5px;
  margin-bottom: 4px;

  .ingredient-icon {
    background-color: $green1;
  }
}

.orange2 {
  border: 3px solid $orange2;
  border-radius: 5px;
  margin-bottom: 4px;

  .ingredient-icon {
    background-color: $orange2;
  }
}

.orange1 {
  border: 3px solid $orange1;
  border-radius: 5px;
  margin-bottom: 4px;

  .ingredient-icon {
    background-color: $orange1;
  }
}

.red2 {
  border: 3px solid $red2;
  border-radius: 5px;
  margin-bottom: 4px;

  .ingredient-icon {
    background-color: $red2;
  }
}

.red1 {
  border: 3px solid $red1;
  border-radius: 5px;
  margin-bottom: 4px;

  .ingredient-icon {
    background-color: $red1;
  }
}

.ingredient-card[data-selected="true"] {

  border: 3px solid black;

  .ingredient-icon {
    border-top: 3px solid black;
  }
}
